<p id="notice"><%= notice %></p>

<%= render 'shared/snippet', :snippet_name => "event_top_content" %>

<div id="calls-to-action">
  <p>
    <%= link_to 'Register for this event', register_event_path(@event) %>
  </p>

  <p>
    <%= link_to 'Call for speaker proposals', call_for_proposals_event_path(@event) %>
  </p>

  <p>
    <%= link_to 'Interested in Sponsoring the Aloha Ruby Conference?', call_for_sponsors_event_path(@event) %>
  </p>

</div>

<%= render 'shared/snippet', :snippet_name => "event_footer" %>