<section id="mainContent" class="sub">
<section class="contentBox speakerContent">
<p id="notice"><%= notice %></p>

<%= render 'top' %>

<p>
<%= link_to 'Register for this event', register_event_path(@event) %>
</p>
<p>
<%= link_to 'Call for speaker proposals', call_for_proposals_event_path(@event) %>
</p>
<p>
<%= link_to 'Want to be a sponsor for this event?', call_for_sponsors_event_path(@event) %>
</p>

<p>
<b>Name:</b>
<%= @event.name %>
</p>

<p>
<b>Description:</b>
<%= @event.description %>
</p>

<%= link_to 'Back', events_path %>
</section>
</section>
