<section id="mainContent" class="sub">
  <section class="contentBox speakerContent">
  <h3><%= t('activerecord.models.proposals.many') %></h3>

  <table>
    <tr>
      <th><%= t(:title) %></th>
      <th colspan="3">Actions</th>
    </tr>

    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.title %></td>
        <td>
          <%= link_to t('crud.edit', :model => t('activerecord.models.proposals.one')), edit_proposal_path(proposal), :title => t('crud.edit', :model => t('activerecord.models.proposals.one')) %>
        </td>
      </tr>
    <% end %>
  </table>
  <br/>
  <%= link_to t('crud.new', :model => t('activerecord.models.proposals.one')), new_proposal_path %>
  </section>
</section>
