<!DOCTYPE html>
<html>
<head>
  <title>Superconf</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>
<ul class="hmenu">
  <%= render 'shared/navigation' %>
</ul>
<%= yield %>
</body>
</html>
